assetpersona/n8n/workflows/threads-broadcast.json
{
  "_comment": "Ported from frvnkfrmchicago-threads.json — brand voice + Threads flow preserved; trigger changed to publish-event webhook. Receives a draft from the threads-broadcast Edge Function (text already generated by Gemini 2.0 Flash in Frank's voice) and runs the Threads API container → 30s wait → publish sequence.",
  "name": "assetpersona-threads-broadcast",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "threads-broadcast",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook (Publish Event from Edge Function)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Verify HMAC signature from the threads-broadcast Edge Function.\n// Matches the inquiry-router verification pattern — same shared secret\n// (N8N_HMAC_SECRET) and the same X-Asset-Persona-Signature header.\nconst crypto = require('crypto');\nconst secret = $env.N8N_HMAC_SECRET;\nconst raw = $json.body || $input.first().binary?.data?.toString() || JSON.stringify($input.first().json);\nconst received = $input.first().json.headers?.['x-asset-persona-signature'] || $input.first().json['x-asset-persona-signature'];\n\nconst expected = crypto.createHmac('sha256', secret).update(raw).digest('hex');\nif (!received || expected !== received) {\n  throw new Error('HMAC signature invalid or missing');\n}\n\n// Parse and pass through\nconst payload = typeof raw === 'string' ? JSON.parse(raw) : raw;\nreturn [{ json: payload }];"
      },
      "id": "verify-hmac",
      "name": "Verify HMAC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Defense-in-depth payload validation. The Edge Function already enforces\n// these, but never trust upstream blindly. Required: text present, non-empty,\n// ≤ 500 chars (Threads hard cap). Also strip a couple of banned-words leakages\n// just in case the model slipped — matches the frvnkfrmchicago voice rules.\nconst payload = $input.first().json;\nconst text = (payload.text || '').trim();\n\nif (!text) {\n  throw new Error('validation: empty text');\n}\nif (text.length > 500) {\n  throw new Error(`validation: text exceeds 500 chars (got ${text.length})`);\n}\n// Reject hashtags / emojis defensively — the brand voice prompt forbids them\n// but if any leak through, kill the post here rather than ship it.\nif (/#\\w/.test(text)) {\n  throw new Error('validation: hashtags forbidden in @frvnkfrmchicago voice');\n}\n\nreturn [{ json: { ...payload, postText: text } }];"
      },
      "id": "validate-payload",
      "name": "Validate Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "url": "=https://graph.threads.net/v1.0/{{ $vars.THREADS_FRVNK_USER_ID }}/threads",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "media_type", "value": "TEXT" },
            { "name": "text", "value": "={{ $json.postText }}" },
            { "name": "access_token", "value": "={{ $vars.THREADS_FRVNK_TOKEN }}" }
          ]
        },
        "method": "POST",
        "options": { "retry": { "maxTries": 3, "waitBetweenTries": 30000 } }
      },
      "id": "threads-create",
      "name": "Threads Create Container",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [860, 300]
    },
    {
      "parameters": { "time": 30, "unit": "seconds" },
      "id": "wait-30s",
      "name": "Wait 30s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1080, 300]
    },
    {
      "parameters": {
        "url": "=https://graph.threads.net/v1.0/{{ $vars.THREADS_FRVNK_USER_ID }}/threads_publish",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "creation_id", "value": "={{ $('Threads Create Container').item.json.id }}" },
            { "name": "access_token", "value": "={{ $vars.THREADS_FRVNK_TOKEN }}" }
          ]
        },
        "method": "POST"
      },
      "id": "threads-publish",
      "name": "Threads Publish",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true, \"creation_id\": $('Threads Create Container').item.json.id, \"source\": $('Validate Payload').item.json.source, \"id\": $('Validate Payload').item.json.id }"
      },
      "id": "respond",
      "name": "Respond 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1520, 300]
    }
  ],
  "connections": {
    "Webhook (Publish Event from Edge Function)": {
      "main": [[{ "node": "Verify HMAC", "type": "main", "index": 0 }]]
    },
    "Verify HMAC": {
      "main": [[{ "node": "Validate Payload", "type": "main", "index": 0 }]]
    },
    "Validate Payload": {
      "main": [[{ "node": "Threads Create Container", "type": "main", "index": 0 }]]
    },
    "Threads Create Container": {
      "main": [[{ "node": "Wait 30s", "type": "main", "index": 0 }]]
    },
    "Wait 30s": {
      "main": [[{ "node": "Threads Publish", "type": "main", "index": 0 }]]
    },
    "Threads Publish": {
      "main": [[{ "node": "Respond 200 OK", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": ""
  },
  "tags": [
    { "name": "asset-persona" },
    { "name": "AP-CONTENT-HUB-2026-05" },
    { "name": "frvnkfrmchicago" },
    { "name": "threads" }
  ],
  "_variables": {
    "THREADS_FRVNK_USER_ID": "Reuse the same value from the existing frvnkfrmchicago-threads workflow.",
    "THREADS_FRVNK_TOKEN": "Reuse the same long-lived Threads access token from the existing frvnkfrmchicago-threads workflow. Refreshed via Meta's standard 60-day token rotation — banned: hardcoding shorter tokens.",
    "N8N_HMAC_SECRET": "Shared secret with assetpersona Supabase Edge Functions. Same value as the inquiry-router workflow uses."
  }
}
